<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Fav Con-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">


    <style>
        * {
            box-sizing: border-box;
        }

        .images {
            display:flex;
            justify-content: center;
            align-items: center;
            align-self: center;


        }
    </style>


</head>
<body>



<div style="margin-top:15vh; margin-left: 15vh; margin-right: 15vh;align-content: center; align-items: center; display: flex ">
    <img src="https://live.staticflickr.com/65535/51145425173_6479489f76_b.jpg" style="width:60vh;" class="images container" id="welcomeButton">

</div>
<div class="images ontainer" style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif; margin-top:2px; align-content: center; align-items: center; display: flex; font-size:3vh;">Hello World, I'm Timothy </div>
<div class="images ontainer" style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif; margin-top:2px; align-content: center; align-items: center; display: flex; font-size:3vh;"><h6>I'm a Software Developer, 3d Artist, Photographer from San Antonio, Texas</h6></div>




<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
    console.log("Hello World")

    $(document).ready(function(){
        $("#welcomeButton").click(function(){
            window.location = index.html;
        });
    });


</script>
</body>
</html>